* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#hero-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url("../imgs/Vtrual-Healing-In-Line.png");
  background-position: center;
  background-size: cover;
  height: 100vh;
}

#hero-header * {
  position: relative;
  z-index: 2;
}

#hero-header::before {
  content: ' ';
  position: absolute;
  z-index: 1;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 128, 0, 0.37);
}

#hero-header h1 {
  margin-top: 25vh;
  text-transform: capitalize;
}

#hero-header > p {
  font-size: .8rem;
  margin-bottom: 8vh;
}

.hero-text {
  text-align: center;
  color: #fff;
  padding: 3vh 5vw;
}

#social-media-list {
  padding: 3vh 3vw;
  width: 50vw;
  margin-left: auto;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 3vw;
  list-style: none;
  text-align: center;
}

#social-media-list li {
  width: 100%;
}

#social-media-list li i {
  font-style: normal;
  font-size: 1.6rem;
}

#menu-btn {
  display: block;
  padding: 1vw;
  width: 15vw;
  margin-left: auto;
  background: #3f7d1eb0;
  border-radius: 15px;
  border: none;
  margin-right: 5vw;
}

#menu-btn i {
  font-size: 2rem;
  color: #fff;
}

.btn {
  position: relative;
  padding: 2vh 0;
  text-transform: capitalize;
  border-radius: 25px;
  color: #fff;
  border: none;
  background: #fff;
}

.btn::after {
  position: absolute;
  z-index: 1;
  top: 10%;
  right: 5%;
  border-radius: 25px;
  display: block;
  width: 40%;
  height: 80%;
  content: ' ';
  background: #407D1E;
}

.btn p {
  position: relative;
  z-index: 2;
}

.lg-btn {
  width: 50vw;
  margin: 2vh auto;
}

.med-btn {
  width: 40vw;
  margin: 2vh auto;
}

.grn-btn {
  background: #407D1E;
}

.grn-btn::after {
  background: #78B556;
}

.gry-btn {
  background: #adadad;
}

.gry-btn::after {
  background: gray;
}

#our-services-btn {
  color: #000;
}

#about-us-section {
  padding: 8vh 5vw;
}

#about-us-section > h2 {
  color: #407D1E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: capitalize;
}

#about-us-section > h2::before {
  display: block;
  content: ' ';
  height: 5px;
  width: 12vw;
  background: #407D1E;
  margin-right: 4vw;
}

#about-us-section button {
  display: block;
  margin: 0 auto;
}

#au-title-desc {
  text-transform: capitalize;
  font-size: 1.5rem;
  width: 60vw;
  margin: 5vh auto;
  font-weight: bold;
  text-align: center;
}

#au-desc {
  line-height: 2rem;
}

#au-list {
  padding: 5vh 0;
}

#au-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6vw;
  margin: 2vh 0;
}

.grn-check {
  color: #407D1E;
  font-size: 1.5rem;
}

#au-images-wrp {
  margin-top: 5vh;
  position: relative;
  height: 50vh;
  width: 90vw;
}

#au-images-wrp img {
  position: absolute;
  width: 80%;
  height: 60%;
  border: 2px solid gray;
}

#au-images-wrp img:nth-child(2) {
  top: 40%;
  left: 20%;
}

#plans-section {
  position: relative;
  background: url("../imgs/typing.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#plans-section * {
  position: relative;
  z-index: 2;
}

#plans-section::before {
  content: ' ';
  background: rgba(0, 128, 0, 0.37);
  position: absolute;
  height: 100%;
  width: 100%;
}

#plans-section h2 {
  padding-top: 5vh;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  padding-bottom: 5vh;
}

#plan-card-list li {
  margin: 2vh 0;
}

.plan-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  width: 90vw;
  padding: 3vw;
  background: #77b556c4;
}

.plan-upper-info {
  text-align: center;
  background: #407D1E;
  padding: 4vh 6vw;
  margin-bottom: 3vh;
}

.plan-upper-info h3 {
  border: 1px solid #fff;
  padding: 2vh 0;
  color: #fff;
  text-transform: capitalize;
  font-size: 1.5rem;
}

.plan-upper-info p {
  color: #fff;
  font: 1.2rem;
  padding-top: 1vh;
}

.pc-content-list {
  color: #fff;
  list-style: none;
  border-top: 2px solid #407D1E;
  margin-bottom: 3vh;
}

.pc-content-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5vw;
  margin: 1vh 0;
  padding: 1vh 0;
  border-bottom: 2px solid #407D1E;
}

.pc-content-list li i {
  font-size: 1.5rem;
}

.pc-content-list li p {
  font-size: 1.2rem;
}

#carousel-arrow-btns {
  width: 100%;
  margin: 0 auto;
  font-size: 1.5rem;
  color: #fff;
  padding: 5vh 3vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#carousel-arrow-btns i {
  font-size: 3rem;
}

#hiw-section {
  padding: 8vh 5vw;
}

#hiw-section h2 {
  text-transform: capitalize;
  text-align: center;
  color: #78B556;
}

#hiw-section > p {
  text-align: center;
  padding: 5vh 0;
}

#hiw-section ul {
  list-style: none;
}

.hiw-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5vw;
  width: 70vw;
  margin: 5vh auto;
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.349);
          box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.349);
}

.hiw-card i {
  text-align: center;
  width: 50%;
  display: block;
  margin: 0 auto;
  font-size: 5rem;
  color: #78B556;
}

.hiw-card h4 {
  text-transform: capitalize;
  padding: 3vw;
  font-size: 1.5rem;
  text-align: center;
  color: #78B556;
}

#projects-section {
  padding: 8vh 5vw;
  background: #c6fdc6;
}

#projects-section h2 {
  text-align: center;
  font-size: 3rem;
  text-transform: capitalize;
  color: #575757;
}

#projects-section > p {
  width: 80%;
  margin: 0 auto;
  padding: 5vh 0;
  line-height: 2rem;
  color: rgba(66, 66, 66, 0.616);
}

#project-card-list {
  list-style: none;
}

#project-card {
  width: 80vw;
  margin: 0 auto;
  padding: 3vw 2vw 6vh 2vw;
  background: #fff;
}

#project-card img {
  width: 100%;
}

#project-card h3 {
  color: #407D1E;
  text-align: center;
  font-size: 1.2rem;
  padding: 2vh 0;
  text-transform: capitalize;
}

#project-card p {
  text-align: center;
  line-height: 2rem;
  padding: 0 3vw;
  margin-bottom: 3vh;
}

#project-card a {
  display: block;
  width: 25%;
  margin: 0 auto;
  padding: 2vw;
  font-size: 1.5rem;
  color: #407D1E;
  text-transform: capitalize;
  text-align: center;
}

#contact-section {
  background: url("../imgs/programming.png");
  background-position: center;
  background-size: cover;
  padding: 8vh 5vw;
}

#contact-upper-info {
  background: #407D1E;
  padding: 4vh 2vw;
  text-align: left;
  color: #fff;
  margin-bottom: 5vh;
}

#contact-upper-info h2 {
  text-transform: capitalize;
}

#contact-upper-info p {
  margin-top: 3vh;
}

#contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 4vh 2vw;
  background: rgba(198, 253, 198, 0.808);
}

#contact-form input {
  width: 100%;
  height: 8vh;
  border: none;
  margin: 2vh 0;
  border-radius: 0;
  font-size: 1.3rem;
  background: transparent;
  border-bottom: 3px solid #407D1E;
}

#contact-form input::-webkit-input-placeholder {
  color: #525252;
  font-size: 1.3rem;
}

#contact-form input:-ms-input-placeholder {
  color: #525252;
  font-size: 1.3rem;
}

#contact-form input::-ms-input-placeholder {
  color: #525252;
  font-size: 1.3rem;
}

#contact-form input::placeholder {
  color: #525252;
  font-size: 1.3rem;
}

#business-contact-info {
  background: #407D1E;
  color: #fff;
  padding: 8vh 5vw;
  text-align: left;
}

#business-contact-info h2 {
  margin-bottom: 2vh;
  text-transform: capitalize;
}

#business-info-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  gap: 1vh;
}

footer {
  text-align: center;
  color: #fff;
  background: #78B556;
  padding: 3vw;
}
/*# sourceMappingURL=style.css.map */