*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
// colors
$darkGreen: #407D1E;
$lightGreen: #78B556;
// padding
$sectionsPadding: 8vh 5vw;
$innerContentPadding: 5vh;
// sizes
$smIconSize: 1.5rem;
#hero-header{
    display: flex;
    flex-direction: column;
    background: url('../imgs/Vtrual-Healing-In-Line.png');
    background-position: center;
    background-size: cover;
    height: 100vh;
    *{
        position: relative;
        z-index: 2;
    }
    &::before{
        content: ' ';
        position: absolute;
        z-index: 1;
        height: 100vh;
        width: 100vw;
        background: rgba(0, 128, 0, 0.37);
    }
    h1{
        margin-top: 25vh;
        text-transform: capitalize;
    }
    >p{
        font-size: .8rem;
        margin-bottom: 8vh;
    }
}
.hero-text{
    text-align: center;
    color: #fff;
    padding: 3vh 5vw;
}
#social-media-list{
    padding: 3vh 3vw;
    width: 50vw;
    margin-left: auto;
    color: #fff;
    display: flex;
    flex-direction: row;
    gap: 3vw;
    list-style: none;
    text-align: center;
    li{
        width: 100%;
        i{
            font-style: normal;
            font-size: 1.6rem;
        }
    }
}
#menu-btn{
    display: block;
    padding: 1vw;
    width: 15vw;
    margin-left: auto;
    background: #3f7d1eb0;
    border-radius: 15px;
    border: none;
    margin-right: 5vw;
    i{
        font-size: 2rem;
        color: #fff;
    }
}
// .green-filter{
//     position: absolute;
//     z-index: 1;
//     top: 0;
//     left: 0;
//     height: 100vh;
//     width: 100vw;
//     background: rgba(0, 128, 0, 0.37);
// }
.btn{
    position: relative;
    padding: 2vh 0;
    text-transform: capitalize;
    border-radius: 25px;
    color: #fff;
    border: none;
    background: #fff;
    &::after{
        position: absolute;
        z-index: 1;
        top: 10%;
        right: 5%;
        border-radius: 25px;
        display: block;
        width: 40%;
        height: 80%;
        content: ' ';
        background:$darkGreen;
    }
    p{
        position: relative;
        z-index: 2;
    }
}
.lg-btn{
    width: 50vw;
    margin: 2vh auto;
}
.med-btn{
    width: 40vw;
    margin: 2vh auto;
}
.grn-btn{
    background: $darkGreen;
    &::after{
        background:$lightGreen;
    }
}
.gry-btn{
    background: rgb(173, 173, 173);
    &::after{
        background:gray;
    }
}
#our-services-btn{
    color: #000;
}
// ABOUT US
#about-us-section{
    padding: $sectionsPadding;
    >h2{
        color: $darkGreen;
        display: flex;
        flex-direction: row;
        align-items: center;
        text-transform: capitalize;
        // justify-content: center;
        &::before{
            display: block;
            content:' ';
            height: 5px;
            width: 12vw;
            background: $darkGreen;
            margin-right: 4vw;
        }
    }
    button{
        display: block;
        margin: 0 auto;
    }
}

#au-title-desc{
    text-transform: capitalize;
    font-size: 1.5rem;
    width: 60vw;
    margin: $innerContentPadding auto;
    font-weight: bold;
    text-align: center;   
}
#au-desc{
    line-height: 2rem;
}
#au-list{
    padding: $innerContentPadding 0;
    li{
        display: flex;
        gap: 6vw;
        margin: 2vh 0;

    }
}
.grn-check{
    color: $darkGreen;
    font-size: $smIconSize;
}
#au-images-wrp{
    margin-top: $innerContentPadding;
    position: relative;
    height: 50vh;
    width: 90vw;
    img{
        position: absolute;
        width: 80%;
        height: 60%;
        border: 2px solid gray;
        &:nth-child(2){
            top: 40%;
            left: 20%;
        }
    }
}
// plans section
#plans-section{
    position: relative;
    background: url('../imgs/typing.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    *{
        position: relative;
        z-index: 2;
    }
    &::before{
        content: ' ';
        background:rgba(0, 128, 0, 0.37);
        position: absolute;
        height: 100%;
        width: 100%;
    }
    h2{
        padding-top: $innerContentPadding;
        color: #fff;
        text-align: center;
        text-transform: capitalize;
        padding-bottom: $innerContentPadding;
    }
}
#plan-card-list li{
   margin: 2vh 0;
}
.plan-card{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 90vw;
    padding: 3vw;
    background: #77b556c4;
}
.plan-upper-info{
    text-align: center;
    background: $darkGreen;
    padding: 4vh 6vw;
    margin-bottom: 3vh;
    h3{
        border: 1px solid #fff;
        padding: 2vh 0;
        color: #fff;
        text-transform: capitalize;
        font-size: 1.5rem;
    }
    p{
        color: #fff;
        font: 1.2rem;
        padding-top: 1vh;
    }
}
.pc-content-list{
    color: #fff;
    list-style: none;
    border-top: 2px solid $darkGreen;
    margin-bottom: 3vh;
    li{
        display: flex;
        gap: 5vw;
        margin: 1vh 0;
        padding: 1vh 0;
        border-bottom: 2px solid $darkGreen;
        i{
            font-size: $smIconSize;
        }
        p{
            font-size: 1.2rem;
        }
    }
}
#carousel-arrow-btns{
    width: 100%;
    margin: 0 auto;
    font-size: 1.5rem;
    color: #fff;
    padding: 5vh 3vw;
    display: flex;
    align-items: center;
    gap: 40%;
    justify-content: center;
    i{
        font-size: 3rem;
    }
}
// how it works
#hiw-section{
    padding: $sectionsPadding;
    h2{
        text-transform: capitalize;
        text-align: center;
        color: $lightGreen;
    }
    >p{
        text-align: center;
        padding: $innerContentPadding 0;
    }
    ul{
        list-style: none;
    }
}
.hiw-card{
    display: flex;
    flex-direction: column;
    padding: 5vw;
    width: 70vw;
    margin: $innerContentPadding auto;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.349);
    i{
        text-align: center;
        width: 50%;
        display: block;
        margin: 0 auto;
        font-size: 5rem;
        color: $lightGreen;
    }
    h4{
        text-transform: capitalize;
        padding: 3vw;
        font-size: $smIconSize;
        text-align: center;
        color: $lightGreen;
    }
}
// our projects 
#projects-section{
    padding: $sectionsPadding;
    background: rgb(198, 253, 198);
    h2{
        text-align: center;
        font-size: 3rem;
        text-transform: capitalize;
        color:rgb(87, 87, 87);
    }
    >p{
        width: 80%;
        margin: 0 auto;
        padding: $innerContentPadding 0;
        line-height: 2rem;
        color:rgba(66, 66, 66, 0.616);
    }
}
#project-card-list{
    list-style: none;
}
#project-card{
    width: 80vw;
    margin: 0 auto;
    padding: 3vw 2vw 6vh 2vw;
    background: #fff;
    img{
        width: 100%;
    }
    h3{
        color: $darkGreen;
        text-align: center;
        font-size: 1.2rem;
        padding: 2vh 0;
        text-transform: capitalize;
    }
    p{
        text-align: center;
        line-height: 2rem;
        padding: 0 3vw;
        margin-bottom: 3vh;
    }
    a{
        display: block;
        width: 25%;
        margin: 0 auto;
        padding: 2vw;
        font-size: $smIconSize;
        color: $darkGreen;
        text-transform: capitalize;
        text-align: center;
    }
}
// contact section
#contact-section{
    background: url('../imgs/programming.png');
    background-position: center;
    background-size: cover;
    padding: $sectionsPadding;
}
#contact-upper-info{
    background: $darkGreen;
    padding: 4vh 2vw;
    text-align: left;
    color: #fff;
    margin-bottom:$innerContentPadding;
    h2{
        text-transform: capitalize;
    }
    p{
        margin-top: 3vh;
    }
}
#contact-form{
    display: flex;
    flex-direction: column;
    padding: 4vh 2vw;
    background: rgba(198, 253, 198, 0.808);
    input{
        width: 100%;
        height: 8vh;
        border: none;
        margin: 2vh 0;
        border-radius: 0;
        font-size: 1.3rem;
        background: transparent;
        border-bottom: 3px solid $darkGreen;
        &::placeholder{
            color: rgb(82, 82, 82);
            font-size: 1.3rem;
        }
    }
}
#business-contact-info{
    background: $darkGreen;
    color: #fff;
    padding: $sectionsPadding;
    text-align: left;
    h2{
        margin-bottom: 2vh;
        text-transform: capitalize;
    }
}
#business-info-list{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 1vh;
}

footer{
    text-align: center;
    color: #fff;
    background: $lightGreen;
    padding: 3vw;
}